.container {
    /*column-count: 2;*/
    padding: 20px;
    background: lightblue;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    border: solid 1px black;
    border-radius: 5px;
    /*box-shadow: darkgray 4px;*/
    width: 39%;
    margin: 10px 5%;
    background: whitesmoke;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
}
.name {
    padding: 10px;
    font-family: "Geneva";
}
.link {
    position: relative;
    left: 30%;
    bottom: 10%;
}